<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madhuurstta.makta">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="upi" />
        </intent>

        <!-- Chooser Intent for UPI apps -->
        <intent>
            <action android:name="android.intent.action.CHOOSER" />
            <data android:scheme="upi" />
        </intent>


        <!-- Explicit apps you know in advance about: -->
        <package android:name="com.google.android.apps.nbu.paisa.user"/>
        <package android:name="net.one97.paytm"/>
        <package android:name="com.phonepe.app"/>
    </queries>

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.madhuurstta.makta.ForgotPassword"
            android:exported="false" />
        <activity
            android:name="com.madhuurstta.makta.DelhiGames"
            android:exported="false" />
        <activity
            android:name="com.madhuurstta.makta.DelhiJodiMarkets"
            android:exported="false" />
        <activity
            android:name="com.madhuurstta.makta.AdminMessage"
            android:exported="false" />
        <activity
            android:name="com.madhuurstta.makta.OTPVerification"
            android:exported="false" />
        <activity
            android:name="com.madhuurstta.makta.TransferCoin"
            android:exported="false" />
        <activity
            android:name="com.madhuurstta.makta.Wallet"
            android:exported="false" />
        <activity
            android:name="com.madhuurstta.makta.starline_timings"
            android:exported="false" />
        <activity
            android:name="com.madhuurstta.makta.starline_games"
            android:exported="false" />
        <activity
            android:name="com.madhuurstta.makta.WithdrawDetails"
            android:exported="false" />
        <activity
            android:name="com.madhuurstta.makta.SpMotor"
            android:exported="false" />
        <activity
            android:name="com.madhuurstta.makta.SpDpTp"
            android:exported="false" />
        <activity
            android:name="com.madhuurstta.makta.RedBracket"
            android:exported="false" />
        <activity
            android:name="com.madhuurstta.makta.OddEven"
            android:exported="false" />
        <activity
            android:name="com.madhuurstta.makta.starline_markets"
            android:exported="true" />
        <activity android:name="com.madhuurstta.makta.withdraw"
            android:exported="false" />
        <activity android:name="com.madhuurstta.makta.single_bet"
            android:exported="false"/>
        <activity android:name="com.madhuurstta.makta.games"
            android:exported="false"/>
        <activity android:name="com.madhuurstta.makta.deposit_money"
            android:exported="false"/>
        <activity android:name="com.madhuurstta.makta.webview"
            android:exported="false" />
        <activity android:name="com.madhuurstta.makta.chart_menu"
            android:exported="false" />
        <activity android:name="com.madhuurstta.makta.charts"
            android:exported="false" />
        <activity android:name="com.madhuurstta.makta.crossing"
            android:exported="false"/>
        <activity android:name="com.madhuurstta.makta.earn"
            android:exported="false" />
        <activity android:name="com.madhuurstta.makta.fullsangam"
            android:exported="false" />
        <activity android:name="com.madhuurstta.makta.halfsangam"
            android:exported="false" />
        <activity android:name="com.madhuurstta.makta.betting"
            android:exported="false" />
        <activity android:name="com.madhuurstta.makta.splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.madhuurstta.makta.ledger"
            android:exported="false" />
        <activity android:name="com.madhuurstta.makta.transactions"
            android:exported="false" />
        <activity android:name="com.madhuurstta.makta.played"
            android:exported="false"/>
        <activity android:name="com.madhuurstta.makta.howot"
            android:exported="false" />
        <activity android:name="com.madhuurstta.makta.thankyou"
            android:exported="false"/>
        <activity android:name="com.madhuurstta.makta.bazar"
            android:exported="false"/>
        <activity android:name="com.madhuurstta.makta.notice"
            android:exported="false" />
        <activity android:name="com.madhuurstta.makta.rate"
            android:exported="false" />
        <activity android:name="com.madhuurstta.makta.profile"
            android:exported="false" />
        <activity android:name="com.madhuurstta.makta.signup"
            android:exported="false"/>
        <activity android:name="com.madhuurstta.makta.login"
            android:exported="false" />
        <activity android:name="com.madhuurstta.makta.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
    </application>

</manifest>